
main>div{
  width: 70%;
}
.photo {
  width: 30%;
  text-align: center;
  transition: 5s;
}

.Darah,.Hussine {
  display: block;
  margin-bottom: 2%;
  margin-top: 2%;
  position: relative;
  left: 35%;
}

.Batool,.Rowaid,.teamName {
 width: 100%;
}
.photo>span {
  display: block;
}
.photo>img {
  width: 100%;
}
.three{
  display: flex;
justify-content: space-evenly;
}
.teamName {
margin: 0 1%;
display: flex;
align-items: center;
justify-content: center;
}

.info>span{
font-weight: bolder;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: large;
}

.animate{
/* transform: rotate(180deg); */
animation: dance 10s ease-in-out infinite;
}

@keyframes dance{
  0%{transform: rotate(5deg);}
  10%{transform: rotate(10deg);}
  15%{transform: rotate(15deg);}
  20%{transform: rotate(20deg);}
  25%{transform: rotate(25deg);}
  30%{transform: rotate(20deg);}
  35%{transform: rotate(15deg);}
  40%{transform: rotate(10deg);}
  45%{transform: rotate(5deg);}
  50%{transform: rotate(0deg);}
  60%{transform: rotate(-5deg);}
  65%{transform: rotate(-10deg);}
  70%{transform: rotate(-15deg);}
  75%{transform: rotate(-20deg);}
  80%{transform: rotate(-25deg);}
  85%{transform: rotate(-20deg);}
  90%{transform: rotate(-15deg);}
  95%{transform: rotate(-10deg);}
  98%{transform: rotate(-5deg);}
  100%{transform: rotate(0deg);}
}
