
footer div{
  width: 100%;
}
footer>p:nth-child(2){
  float: right;
  margin: 2px;
}

footer  span{
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shortContact{
  display: flex;
  flex-direction: column;
}
.img1{
  width: 20%;
}
.img2{
  width: 23%;
}
footer a,p {
  margin: 1%;
}