/* main home */
.textCenter{
  text-align: center;
}
main >section:first-child >div{
  width: 50%;
}
main >section{
  margin: 30px 0;
}
.searchBtn{
  width: 10%;
}
.searchBtn>button{
  width: 100%;
  padding: 20px;
  cursor: pointer;
}
#intro>h3{
  font-size: 2em;
}
#intro>p{
  font-size: 1.5em;
}
.visionMission{
  margin-top: 100px;
  padding: 4% 0%;
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}
.visionMission h4{
  font-weight: bolder;
}
/***********************************************************************************/

/* test */
.Cat{
  position: relative;
  width: 100%;
  height: 70px;
}
.Cat > img{
  position: absolute;
  width: 50%;
  clip: rect(0,232px,115px,0);
  top: -53px;
  transition: 0.8s;
}
.Cat button{
  position: absolute;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  font-size: 40px;
  font-family: 'EDO SZ';
  cursor: pointer;
}
.Cat:hover img{
  top: -115px;
}


.Cat > img {
  position: absolute;
  width: 30%;
  clip: rect(0,245px,119px,0);
  top: -51px;
  transition: 0.8s;
  height: 179px;
}
main>p{
  margin-top: 100px;
  font-size: 2em;
}
/***********************************************/
#slider{
 width: 50%;
  height: 50%;
  padding-top: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-animation: glowlogo 2s ease-in-out infinite alternate;
  -moz-animation: glowlogo 2s ease-in-out infinite alternate;
  animation: glowlogo 2s ease-in-out infinite alternate;
  
}
#slider figure {
  position: relative;
  width: 500%;
  height: 500px;
  /* margin: 2%; */
  padding-right: 100px;
  /* left: 0px; */
  animation: 17s slider infinite;
}

#slider figure img {
  width: 20%;
  height: 100%;
  
  float: left;
}

@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  90% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}