/* main home */
.textCenter{
  text-align: center;
}
section div{
  width: 50%;
  height: 100%;
}
main >section{
  margin: 30px 0;
  height: 350px;
}
/* main> .withbg{
  background-image: url(../../images/seriousbg.png);
} */
.searchBtn{
  width: 10%;
}
.searchBtn>button{
  width: 100%;
  padding: 20px;
  cursor: pointer;
}
#intro{
  padding: 20px;
  border-right: solid 1.5px #9c91ae;
  box-sizing: border-box;

}
#intro>h3{
  font-size: 2em;
}
#intro>p{
  font-size: 1.5em;
  text-align: justify;

}
.visionMission{
  height: 250px;
  margin-top: 100px;
  /* padding: 4% 0%; */
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  background-image: linear-gradient(90deg,#c0bcc5,#eec772, #c0bcc5);
}
.visionMission h4{
  font-weight: bolder;
  text-transform: uppercase;
}
/***********************************************************************************/

/* test */
.Cat{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -15px;
  width: 100%;
  height: 70px; */
  margin-top: -38px;
  width: 100%;
  height: 70px;
  right: -139px;
}
.Cat > img{
  position: absolute;
  width: 50%;
  clip: rect(0,232px,115px,0);
  top: -53px;
  transition: 0.8s;
}
.Cat > a{
  display: contents;
}
.Cat button{
  position: absolute;
  /* width: 30%; */
  width: 40%;
  height: 70px;
  border-radius: 20px;
  font-size: 40px;
  /* font-family: 'EDO SZ'; */
  cursor: pointer;
  text-transform: uppercase;
}
.Cat:hover img{
  top: -115px;
}
.Cat > img {
  position: absolute;
  width: 30%;
  clip: rect(0,245px,119px,0);
  top: -51px;
  transition: 0.8s;
  height: 179px;
}
/*-------FACT------*/
main>#thefact{
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 2em;
  /* display: flex; */
  /* align-items: center; */
  width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #7f7198b8;
    padding: 4%;
    background-image: linear-gradient(45deg, #f1c86f, transparent,#ffcb6d);
}
#thefact>h4{
  text-transform: uppercase;
  animation: flash infinite 3s;
  background-color: #c8bdd8;
  width: 205px;
  padding: 2%;
  box-shadow: #beadd6 -6px 5px 8px;
  border-radius: 3px;
  margin-bottom: 30px;
}
#thefact>p{
  animation: lightSpeedIn forwards 3s;
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/***********************************************/
#slider{
 width: 50%;
  height: 100%;
  /* padding-top: 0; */
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  /* margin-bottom: 30px; */
  overflow: hidden;
  border-left: solid 1.5px #9c91ae;
  -webkit-animation: glowlogo 2s ease-in-out infinite alternate;
  -moz-animation: glowlogo 2s ease-in-out infinite alternate;
  animation: glowlogo 2s ease-in-out infinite alternate;
  box-sizing: border-box;
  
}
#slider figure {
  position: relative;
  width: 500%;
  height: 100%;
  /* margin: 2%; */
  padding-right: 100px;
  /* left: 0px; */
  animation: 17s slider infinite;
}

#slider figure img {
  width: 20%;
  height: 100%;
  
  float: left;
}

@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  90% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}
/* ---------- vision&mission---------*/
#vtitle, #mtitle{
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
#vtitle>h4, #mtitle>h4{
  font-size: 3em;
  /* transition: transform 1s; */

}
#vtext{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  background-color: #c0bcc5;
  z-index: 5842645161142;
  transform: translateX(-250%);
  transition: transform 2s;
  padding: 84px;
  box-sizing: border-box;
  background-image: linear-gradient(45deg, #c0bcc5, #ebc573);
}
#mtext{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  /* background-color: #c0bcc5; */
  z-index: 5842645161142;
  transform: translateX(250%);
  transition: transform 2s;
  padding: 84px;
  box-sizing: border-box;
  background-image: linear-gradient(90deg,#ebc573 ,#c0bcc5);
}
#vtitle:hover h4, #mtitle:hover h4{
  animation: fadeOut 2s forwards;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
#vtitle:hover #vtext, #mtitle:hover #mtext{
  display: flex;
  align-items: center;
  justify-content: center;
    /* animation: slideInLeft forwards 2s; */
  transform: translateX(0%);
  transition: transform 2s;
  /* padding: 20px; */
  background-image: linear-gradient(90deg,#ebc573 ,#c0bcc5);
  padding: 84px;
  box-sizing: border-box;
}
#vtitle:hover #vtext{
background-image: linear-gradient(45deg, #c0bcc5, #ebc573);
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*=======section bg======*/
/* section>img{
  width: 78%;
  height: 100%;
  position: absolute;
  z-index: -5;
  opacity: 0.1;
 
} */










/*     display: block;
    width: 71%;
    text-align: center;
    margin: 30px 0 0;
    font-size: 40px;
    padding: 25px;
    background-image: linear-gradient(45deg, #301656, transparent);
    background-image: linear-gradient(45deg, #f1c86f, #c1c0c1,#e6b04d);
    color: #301656; */