#RehomeMain h2{
  font-size: 26px;
  font-family: fantasy;
}

#RehomeMain h3 {
  font-size: 20px;
  margin: 8px;
  margin-left: 92px;
}
#RehomeMain > fieldset{
  width: 80%;
  text-align: center;
  margin-top: 20px;

}
#RehomeMain form{
  position: relative;
  width: 85%;
  text-align: center;
  padding: 5%;
  margin: 11px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
#RehomeMain legend {
  text-align: center;
  font-size: xx-large;
  text-transform: capitalize;
  margin: 5px 0;
  width: 50%;
}

#RehomeMain input{
  padding: 12px;
  margin: 3px 0;
  width: 90%;
}
#RehomeMain input[type="radio" i]{
  background-color: initial;
  cursor: pointer;
  /* -webkit-appearance: radio; */
  /* box-sizing: border-box; */
  margin: 6px 0px 0px 8px;
  padding: initial;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 22222222222;
}
#RehomeMain textarea{
  margin: 5px 0;
  width: 92.2%;
}
#RehomeMain button{
  width: 25%;
  border-radius: 5px;
  padding: 9px;
  margin: auto;
}
#RehomeMain label {
  margin-right: 50px;
  /* display: flex; */
}
#over2{
  top: 122px;
  left: 412px;
  z-index: -9;
}
#over1{
  top: 122px;
  left: 264px;
  z-index: -9;
}