
.visionMission{
  border: solid #30165696;
  background-color: #c0bcc5;
}

.Cat button{
  background: #c8bdd8;
  border: 2px solid #301656;
  color: #301656;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.withbg{
  border: solid 4px #9c91ae;
  border-radius: 5px;
  background: snow;
}