#searchMain fieldset{
  border: antiquewhite solid;
}
#searchMain form{
  background-color: brown;
  border: chartreuse solid;
}

#searchMain .feedback-input {
	color:#3c3c3c;
	background-color: #fbfbfb;
  border: 3px solid rgba(0,0,0,0);
}
