.info-btn{
  color: #b8b1c1;
  background-color: #301656;
  box-shadow: 3px 3px 10px #301656;
}
.btns{
  color: #b8b1c1;
  background-color: #301656;
  box-shadow: 3px 3px 10px #301656;
}
.info-btn:hover {
  color: #301656;
  background-color: #b8b1c1;
}
.btns:hover {
  color: #301656;
  background-color: #b8b1c1;
}