<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head')%>
  <title>Document</title>
</head>
<body>
  <main>
    <img class="Darah" src="" alt="Darah">
    <img class="Batool" src="" alt="Batool">
    <img class="Hussine" src="" alt="Hussine">
    <img class="Rowaid" src="" alt="Rowaid">

    <p class="DarahInfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aspernatur, quis expedita impe</p>
    <p class="Batoolnfo" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aspernatur, quis expedita impe</p>
    <p class="HussineInfo" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aspernatur, quis expedita impe</p>
    <p class="RowaidInfo" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aspernatur, quis expedita impe</p>
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>
</body>
</html>