<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
  <title>About</title>
</head>

<body>
  <img id="background" src="../../images/seriousbg.png" alt="background">
  <header>
    <%- include('../layout/header')%>
  </header>
  <main>
    <div>
      <div class="Darah photo">
        <img src="../../images/Darah.jpg" alt="Darah">
        <span>Darah</span>
      </div>
      <div class="three"> 
        <div class="Batool photo">
          <img src="../../images/Batool.jpg" alt="Batool">
          <span>Batool</span>
        </div>
        <div class="teamName">
          <h2>Serious Team</h2>
        </div>
        <div class="Rowaid photo">
          <img src="../../images/Rowaid.jpg" alt="Rowaid" >
          <span>Ruwaid</span>
        </div>
      </div>
      <div class="Hussine photo">
        <img id="mm" src="../../images/Hussein.jpg" alt="Hussine">
        <span>Hussine</span>
      </div>
  
      <p class="DarahInfo info"><span> Darah: </span>Political Science, McMaster University
        I like Skate Boarding,
        Playing the Piano
       Horse Riding and Organizing my stuff,
       But I can do none of them!
      </p>
      <p class="Batoolnfo info"><span>Batool:</span>  Computer Engineer, Hashemite University.
        I'm the programer who types her codes with only one hand.
      </p>
      <p class="HussineInfo info"><span>Hussine:</span> British diploma in civil engineering, LTUC. I am a person how had a smile in his face all the time  when  he coding even when I face a bugs</p>
      <p class="RowaidInfo info"><span>Ruwaid:</span>  Mechatronics engineer
        my principle in lif is
        !(talk more,do less);</p>
    </div>
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>
</body>

</html>