<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
  <title>404</title>
</head>

<body>
 <header>
  <%- include('../layout/header')%>
 </header>
  <main>
    <center>
        <img src="../../images/404.jpg" alt="">
    </center>
  </main>

 <footer>
  <%- include('../layout/footer')%>
</footer>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>
</body>

</html>