<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
  <title>404</title>
</head>

<body>
 
  <main>
    <center>
        <img src="../../images/404.jpg" alt="">
    </center>
  </main>

 

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>
</body>

</html>