<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head')%>
    <title>Animal Adoption Application-AAA</title>
  </head>

  <body>
    <img id="background" src="../../images/seriousbg.png" alt="background">
    <header>
      <%- include('../layout/header')%>
    </header>

    <main>
      <div id="thefact">
        <h4>Fun Fact of the day</h4>
        <p>
          <%=theFact%>
        </p>
      </div>
      <section class="withbg flex">
        <!-- <img src="../../images/seriousbg.png" alt="background" /> -->
        <div id="intro">
          <h3>About AAA:</h3>
          <br />
          <p>
            The ANIMAL ADOPTION APPLICATION (AAA) was founded in 2020 when 'TeamSerious'
            decided to formalize their efforts to save homeless pets in their
            community. We are very proud that every pet adopted through AAA has
            been inoculated prior to being placed in the hands of the adoptive
            family. Behind every pet rescue mission is someone like you, capable
            of making humanitarian work possible.
          </p>
          <br />
          <br />
          <br />
          <br />
          <div class="Cat">
            <img
              src="https://cdn159.picsart.com/228761899080211.png?type=webp&to=min&r=640"
            />
            <a href="/search"> <button>Search</button></a>
          </div>
        </div>
        <div id="slider">
          <figure>
            <img src="../../images/2.jpeg" class="sliderimage" alt="" />
            <img src="../../images/cat2.jpg" class="sliderimage" alt="" />
            <img src="../../images/4.jpg" class="sliderimage" alt="" />
            <img src="../../images/cat3.jpg" class="sliderimage" alt="" />
            <img src="../../images/1.jpg" class="sliderimage" alt="" />
          </figure>
        </div>
      </section>

      <section class="visionMission flex textCenter">
        <div id="vtitle">
          <h4>Our Vision</h4>
          <div id="vtext">
            <p>AAA aims for A world free of homeless, neglected or abused pets. we thrive to achieve the healthiest meeting of the most welcoming homes with the pets in need for ones. </p>
          </div>
        </div>
        <div id="mtitle">
          <h4>Our Mission</h4>
          <div id="mtext">
            <p>
              AAA helps homeless pets find their way to loving homes through
              rescue and adoption. we provide the user with all the information they need to know in order for them to be able to adopt the pet, take care of it, and make it feel welcomed in their home.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <%- include('../layout/footer')%>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
  </body>
</html>
