<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
  <title>Animal Adoption Application-AAA</title>
</head>

<body>
  <img id="background" src="../../images/seriousbg.png" alt="background">
  <header>
    <%- include('../layout/header')%>
  </header>


  <main>
    <section class="flex">
      <div class="textCenter">
        <img src="https://via.placeholder.com/300" alt=" ">
      </div>
      <div>
        <h3> About AAA:</h3>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae maxime reiciendis perferendis
          fugiat iure aperiam magni cupiditate consequuntur doloribus sit earum enim quos ipsa corrupti ad?
          Exercitationem ducimus quibusdam aliquid non amet ratione vel possimus, quia quae inventore! Suscipit,
          aliquam esse eligendi ipsa earum quo fugiat inventore facere blanditiis provident veritatis, voluptatem
          assumenda qui!
        </p>
        <br>
        <!-- <button> Sign In</button>
        <button> Sign Up</button> -->

        <br>
        <br>
        <br>
        <div class="Cat">
          <!-- src="https://static.wixstatic.com/media/3271a8_75422b1451fc4ca5899c6cdd77e1b31c~mv2.png/v1/fill/w_284,h_381,al_c/3271a8_75422b1451fc4ca5899c6cdd77e1b31c~mv2.png"> -->
          <!-- src="https://clipartart.com/images/brown-cat-clipart-10.png"> -->
         
          <img
            src="https://cdn159.picsart.com/228761899080211.png?type=webp&to=min&r=640">
          <a href="/search"> <button>Search</button></a>
        </div>
      </div>

    </section>

    <section class="visionMishion flex textCenter">
      <div>
        <h4>Vision</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae maxime reiciendis perferendis
        </p>
      </div>
      <div>
        <h4>Mission</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, quae maxime reiciendis perferendis
        </p>
      </div>

    </section>
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>
</body>

</html>