<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
  <title>Animal Adoption Application-ReHome</title>
</head>

<body>
  <header>
    <%- include('../layout/header')%>
  </header>

  <main id="RehomeMain">
    <h2> To add your Pet to our service, follow the Steps below </h2>
    <div>
      <h3>Step 1: Fill out this form with your pet's data </h3>
      <h3>Step 2: Click SUBMIT to add your pet to our DATABASE</h3>
    </div>
      <fieldset>
        <legend> Rehome form</legend>
        <form action="/add" method="post">
          <div>
            <input type="radio" name="pet" value='cat' required>
            <label for="cat">Cat</label>
          
            <input type="radio" name="pet" value='dog' required>
            <label for="dog">Dog</label>
          </div>

              <input  type="text" name="name"  placeholder="Enter Animal name" required>
              <input  type="text" name="Breed" placeholder="Enter Animal Breed" required>
              <input  type="text" name="origin" placeholder="Enter Animal origin" required>
              <input  type="text" name="age" placeholder="Enter Animal age" required>
              <input  type="text" name="gender" placeholder="Enter Animal gender" required>
              <input  type="text" name="weight" placeholder="Enter Animal weight" required>
              <input  type="text" name="imgLink" placeholder="Enter Animal image Link" required>  
              <textarea name="disc" id="" cols="35" rows="10"  placeholder="Enter Discription"></textarea>

              <button type="submit">Rehome Your pet</button>
          </form>
    </fieldset>
    </form>
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>
</body>

</html>