<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
  <title>Animal Adoption Application-ReHome</title>
</head>

<body>
  <header>
    <img id="background" src="../../images/seriousbg.png" alt="background">
    <%- include('../layout/header')%>
  </header>

  <main id="RehomeMain">
    <h2> To add your Pet to our service, follow the Steps below </h2>
    <div>
      <h3>Step 1: Fill out this form with your pet's data </h3>
      <h3>Step 2: Click Rehome Your pet to add your pet to our DATABASE</h3>
    </div>
    <fieldset>
      <legend> Rehome form</legend>
      <form action="/add" method="post">
        <div>
          <label for="choice">pick pet type:</label>
          <div id="choice" class="what">
            <div class="what">
              <label class="cont-radio " for="cat">
                <input class="radiobtn" type="radio" name="pet" value="cat" required />
                <span class="newradio" id="over1"></span>

                Cat</label>

              <label class="cont-radio " for="dog">
                <input class="radiobtn" type="radio" name="pet" value="dog" required />
                <span class="newradio"id="over2"></span>
                Dog</label>
            </div>
            <p id="fill">Fill the form with your pet details </p>
            <input class="inp-col" type="text" name="name" placeholder="Enter Animal name" required>
            <input class="inp-col" type="text" name="Breed" placeholder="Enter Animal Breed" required>
            <input class="inp-col" type="text" name="origin" placeholder="Enter Animal origin" required>
            <input class="inp-col" type="number" name="age" placeholder="Enter Animal age" required>
            <input class="inp-col" type="text" name="gender" placeholder="Enter Animal gender" required>
            <input class="inp-col" type="number" step="0.1" name="weight" placeholder="Enter Animal weight" required>
            <input class="inp-col" type="text" name="imgLink" placeholder="Enter Animal image Link" required>
            <textarea class="inp-col" name="disc" cols="35" rows="10" placeholder="Enter Discription"></textarea>

            <button class="btns" type="submit">Rehome Your pet</button>
      </form>
    </fieldset>
    </form>
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>
</body>

</html>