<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head')%>
    <title>Animal Adoption Application-Search</title>
  </head>

<body>
  <header>
      <%- include('../layout/header')%>
      <!-- will be added from layot -->
  </header>

  <main>
      <!-- form to search  by keyword(breed) -->
      <fieldset>
          <legend> search form</legend>
            <form action="/search-result" method="post">
                <input  id="se" class="feedback-input" type="text" name="breed" placeholder="Enter breed name" required>

                <br>
<div>
    <input type="radio" name="pet" value='cat' required>
    <label for="cat">Cat</label>

    <input type="radio" name="pet" value='dog' required>
    <label for="dog">Dog</label>

</div>

                <br>

                <button type="submit">Search</button>



            </form>
      </fieldset>
  </main>
  <footer>
      <%- include('../layout/footer')%>

      <!-- will be added from layot -->
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>
</body>
</html>