<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>
    <title>Animal Adoption Application-Search</title>
</head>

<body>
    <header>
        <%- include('../layout/header')%>
    </header>

    <main>
        <!-- form to search  by keyword(breed) -->
        <fieldset>
            <legend> search form</legend>
            <form action="/search" method="POST">
                <input id="se" class="feedback-input" type="text" name="breed" placeholder="Enter breed name" required>

                <br>

                <div>
                    <input type="radio" name="pet">
                    <label for="cat">Cat</label>
    
                    <input type="radio" name="pet">
                    <label for="dog">Dog</label>
                </div>

                <br>

                <button type="submit">Search</button>



            </form>
        </fieldset>
    </main>
    <footer>
        <%- include('../layout/footer')%>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
</body>

</html>