<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head')%>
    <title>Animal Adoption Application-Search</title>
  </head>

<body>
  <header>
      <%- include('../layout/header')%>
      <!-- will be added from layot -->
  </header>

  <main>
      <!-- form to search  by keyword(breed) -->
      <fieldset>
          <legend> search form</legend>
            <form action="/search-result" method="post">
                <input type="text" name="breed" placeholder="Enter breed name" required>

                <br>

                <input type="radio" name="pet" value='cat' required>
                <label for="cat">Cat</label>

                <input type="radio" name="pet" value='dog' required>
                <label for="dog">Dog</label>

                <br>

                <button type="submit">Search</button>



            </form>
      </fieldset>
  </main>
  <footer>
      <%- include('../layout/footer')%>

      <!-- will be added from layot -->
  </footer>
</body>
</html>