<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
  <title>Animal Adoption Application-User</title>
</head>

<body>
  <header>
    <%- include('../layout/header')%>
  </header>

  <main id="userMain" class="flexColomn">
    
    <div class="divdiv">
      <img src="https://via.placeholder.com/300" alt="">
      <div class="divNames">
        <h4>Nameeee</h4>
        <h4>breeeed</h4>
        <div class="flex buttonsDiv">
          <form action="">
            <button>Learn More</button>
          </form>
          <form action="" method="post">
            <button>Update</button>
          </form>
          <form action="" method="post">
            <button>Delete</button>
          </form>
        </div>
      </div>
    </div>

  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="app.js"></script>

</body>

</html>