/* base.css: for body and main and change something changed in reset.css */
/* layout.css: general positioning   */
/* modules.css: every file containe elements positioning for the elements of that page */
/* themes.css: every file containe elements colors for the elements of that page */
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap");
html{
  scroll-behavior: smooth;
}
body{
  /* background-color: gray; */
  /* max-width: 100%; */
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* background-image: url('../images/seriousbg.png'); */
  /* background-repeat: no-repeat; */
  /* overflow: hidden; */
  overflow-x: hidden;
}
main{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

input[type="radio" i] {
  background-color: initial;
  cursor: pointer;
  /* -webkit-appearance: radio; */
  /* box-sizing: border-box; */
  margin: 6px 0px 0px 8px;
  padding: initial;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 22222222222;
}
#background{
  width: 100%;
  position: fixed;
  z-index: -5;
  opacity: 0.1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
