/* base.css: for body and main and change something changed in reset.css */
/* layout.css: general positioning   */
/* modules.css: every file containe elements positioning for the elements of that page */
/* themes.css: every file containe elements colors for the elements of that page */
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap");
html{
  width: 95%;
}
body{
  /* background-color: gray; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* background-image: url('../images/seriousbg.png'); */
  /* background-repeat: no-repeat; */
}
main{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

input[type="radio" i] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: radio;
  box-sizing: border-box;
  margin: 6px 0px 0px 8px;
  padding: initial;
  border: initial;
  width: 5%;
}
#background{
  width: 100%;
  position: fixed;
  z-index: -5;
  opacity: 0.1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}