a{
  text-decoration: none;
  color: aqua;
}

header{
  width: 96%;
  margin: 2px auto;
  display: flex;
  justify-content: space-between;
  padding: 2% 3%;
}

footer{
  width: 100%;
  text-align: center;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  margin-top: 50px;
}

.hidden{
  display: none;
}

.flex{
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
}
.flexColomn{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

input{
  width: 40%;
}


.tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) no-repeat; 
  background-position: 0 0;
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
  position: absolute;
  z-index: 9999999999;
  right: -600px;
  top: 0;
  opacity: 0.4;
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } /* Must be full height of sprite or skipping will happen.*/
}