<div class="flexColomn">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, quaerat.
  </p>


  
  <div class="social">
    <p class="p7">Follow Us On</p>
    <a href="www.facebook.com" target="_blank" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
  </div>

  <div class="footerContainer flex">

    <div class="num1">
      <p class="p5">We are here</p>
      <div class="apps">
        <a href=""><img class="img1" src="../../images/app store.png" alt="app store">
        </a>
      </div>

      <div class="apps">
        <a href=""><img class="img2" src="../../images/google play.png" alt="google play">
        </a>
      </div>
    </div>


    <div>
      <img class="logo" src="https://via.placeholder.com/80" alt="seriousTeamLogo">
    </div>

    <div class="shortContact">
      <p class="p6">Contact Us</p>

      <a href="mailto:AAA@gmail.com">
        <i class="fa fa-envelope">
          info@AAA.com
        </i>
      </a>
      <a href=""> <i class="fa fa-map-o">
          Jordan-Amman
        </i></a>

        <a href="">
          <i class="fa fa-mobile-phone">
            07XXXXXXXX
          </i>
        </a>
    </div>





  </div>

  <div>

    <p>All Copyright &copy; reserved. <span>Serious Team</span> 2020</p>
  </div>
</div>