<div class="flex">

  <div class="footerContainer flex">
    
    <div class="num1">
      <p class="p5">We are here</p>
      <div class="apps">
        <a href=""><img class="img1" src="../../images/app store.png" alt="app store">
        </a>
      </div>

      <div class="apps">
        <a href=""><img class="img2" src="../../images/google play.png" alt="google play">
        </a>
      </div>
    </div>
    <div class="social flexColomn">
      <p class="p7">Follow Us On</p>
      <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"> Serious AAA </a>
      <a href="https://www.twitter.com" class="fa fa-twitter"> @AAA2020</a>
      <a href="https://www.instagram.com" class="fa fa-instagram">@serious_AAA</a>
    </div>

    <div class="shortContact">
      <p class="p6">Contact Us</p>

      <a href="mailto:AAA@gmail.com">
        <i class="fa fa-envelope">
          info@AAA.com
        </i>
      </a>
      <a href=""> <i class="fa fa-map-o">
          Jordan-Amman
        </i></a>

        <a href="">
          <i class="fa fa-mobile-phone">
            07XXXXXXXX
          </i>
        </a>
      </div>
        <div class="shortContact">
          <div>
            <img class="logo" src="../../images/icon+aaa.png" alt="seriousTeamLogo">
          </div>
          <div>
            <p>All Copyrights&copy; Reserved. <span>@Serious Team</span> 2020.</p>
          </div>
        </div>
    
  

  
</div>