
<img src="https://via.placeholder.com/80" alt="seriousTeamLogo">
<h1>Animal Adoption Application</h1>

<div class="containerMenu">
    <span class="drop">
      Menu <span class="arrow"></span>
    </span>
    <ul class="dropdown-menu hidden">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
</div>
