
<img id="logo" src="../../images/icon+aaa.png" alt="seriousTeamLogo">
<div id="hdr">
<h1>ANIMAL ADOPTION APPLICATION</h1>
<h2>WHERE PETS FIND HOMES</h2>
</div>
<!-- <div class="containerMenu">
    <span class="drop">
      Menu <span class="arrow"></span>
    </span>
    <ul class="dropdown-menu hidden">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/user">User List</a></li>
      <li><a href="/rehome">Rehome A Pet</a></li>
    </ul>
</div> -->
<div class="containerMenu"></div>
<div id="menudiv">
  <div class="dot"> MENU </div>
<div class="cont">
  
  <!-- <ul class="dropdown-menu-hidden">
    
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/user">User List</a></li>
    <li><a href="/rehome">Rehome A Pet</a></li>
  </ul> -->
</div>
</div>
<div class="pl">
  <a href="/" class="pl2">Home</a>
  <a href="/about" class="pl2">About Us</a>
  <a href="/search" class="pl2">Search</a>
  <a href="/user" class="pl2">User List</a>
  <a href="/rehome" class="pl2">Rehome A Pet</a>
</div>