
<img src="../../images/icon+aaa.png" alt="seriousTeamLogo">
<div id="hdr">
<h1>ANIMAL ADOPTION APPLICATION</h1>
<h2>WHERE PETS FIND HOMES</h2>
</div>
<div class="containerMenu">
    <span class="drop">
      Menu <span class="arrow"></span>
    </span>
    <ul class="dropdown-menu hidden">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/user">User List</a></li>
      <li><a href="/rehome">Rehome A Pet</a></li>
    </ul>
</div>
