<img id="logo" src="../../images/icon+aaa.png" alt="seriousTeamLogo" />
<div id="hdr">
  <div id="foot1" style="position: absolute;"><i class="fa fa-paw" style="font-size:36px;"></i><i class="fa fa-paw" style="font-size:26px;"></i></div>
  <div id="foot2" style="position: absolute;"><i class="fa fa-paw" style="font-size:36px;"></i><i class="fa fa-paw" style="font-size:26px;"></i></div>
  <h1>ANIMAL ADOPTION APPLICATION</h1>
  <h2><i class="fa fa-paw" style="font-size:36px; margin-right:5px;"></i>WHERE PETS FIND HOMES<i class="fa fa-paw" style="font-size:36px; margin-left:5px;"></i></h2>
</div>
<!-- <div class="containerMenu">
    <span class="drop">
      Menu <span class="arrow"></span>
    </span>
    <ul class="dropdown-menu hidden">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/user">User List</a></li>
      <li><a href="/rehome">Rehome A Pet</a></li>
    </ul>
</div> -->
<!-- <ul class="dropdown-menu-hidden">
    
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/user">User List</a></li>
    <li><a href="/rehome">Rehome A Pet</a></li>
  </ul> -->
<div class="containerMenu"></div>
<div id="menudiv" class="menudiv menudiv2">
  <div class="dot">MENU</div>
  <div class="cont">
  </div>
  <div class="pl">
    <a href="/" class="pl2"><i class="paw fa fa-paw"></i> <span>Home</span> <i class="paw fa fa-paw"></i></a>
    <a href="/search" class="pl2"> <i class="paw fa fa-paw"></i><span>Search</span><i class="paw fa fa-paw"></i></a>
    <a href="/location" class="pl2"> <i class="paw fa fa-paw"></i><span>Find A Vet</span><i class="paw fa fa-paw"></i></a>
  
    <a href="/rehome" class="pl2"> <i class="paw fa fa-paw"></i><span>Rehome A Pet</span><i class="paw fa fa-paw"></i></a>
    <a href="/user" class="pl2"><i class="paw fa fa-paw"></i><span>MyList</span><i class="paw fa fa-paw"></i></a>
    <a href="/about" class="pl2"><i class="paw fa fa-paw"></i> <span>About Us</span> <i class="paw fa fa-paw"></i></a>
  </div>
</div>
